<%= form_for(custom_form) do |f| %>
  <% if custom_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_form.errors.count, "error") %> prohibited this custom_form from being saved:</h2>

      <ul>
      <% custom_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sub_category_id %><br>
    <%= f.collection_select(:sub_category_id, SubCategory.all, :id, :name )%>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="actions">
    <%= link_to '<- Back to list', custom_forms_path, {class: "btn btn btn-info", role: "button"} %>
    <%= captured %>
  </div>
<% end %>