<h1>Editing Custom Form</h1>

<p id="notice"><%= notice %></p>

<%= render 'form', custom_form: @custom_form, captured: capture { %>
    <%= submit_tag 'Update', class: "btn btn-info" %>
    <%= link_to 'Add fields', new_custom_form_field_path(@custom_form), {class: "btn btn btn-success", role: "button"}  %>
<% } %>

<section class="detail-list">
    <h1>fields:</h1>
    <%= render 'fields', fields: @custom_form.custom_form_fields%>
<section>