<%= form_for(@custom_form_field) do |f| %>
  <% if @custom_form_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_form_field.errors.count, "error") %> prohibited this custom_form_field from being saved:</h2>

      <ul>
      <% @custom_form_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :custom_form_id %><br>
    <%= f.text_field :custom_form_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
