<h1>"<%= @custom_form_field.form_name %>" Fields</h1>

<%= render 'form',
    custom_form_field: @custom_form_field,
    type_values: @type_values,
    form_method: 'update', 
    captured: capture { %>
    <%= submit_tag 'Update', class: "btn btn-info" %>
    <%= link_to 'New', new_custom_form_field_path(@custom_form_field.custom_form), {class: "btn btn btn-success", role: "button"}  %>
<% } %>

 <%= render 'list', fields: @fields %>