<h1>Editing "<%= "#{@form_answer.custom_form.title} - ##{@form_answer.id}" %>"</h1>
<p id="notice"><%= notice %></p>

<% if @errors %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this form_answer from being saved:</h2>

    <ul>
    <% @errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag(form_answer_path, method: "patch") do %>
  <% @fields.each_with_index do |field, index| %>
    <div class="field">
      <%= render_field_html field, @form_answer.answer_value_by(field) %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= link_to 'Back', form_answers_path %>
    <%= submit_tag 'answer!' %>
  </div>
<% end %>
